<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sidelance.com.stormclouds" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".modules.current.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".modules.weekly.WeeklyForecastActivity"
            android:label="@string/title_activity_weekly_forecast" >
        </activity>
        <activity
            android:name=".modules.location.LocationSettingsActivity"
            android:label="@string/title_activity_location_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.hourly.HourlyForecastActivity"
            android:label="@string/title_activity_hourly_forecast" >
        </activity>
        <activity
            android:name=".modules.daily.DailyDetailsActivity"
            android:label="@string/title_activity_daily_details"
            android:parentActivityName=".modules.weekly.WeeklyForecastActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.weekly.WeeklyForecastActivity" />
        </activity>
    </application>

</manifest>
